/**
 * Colors
 */
$white              : #ffffff;
$ghost              : #f1f1f1;
$black              : #000000;
$jetblack           : #1e1e1e;
$lightblack         : #2a2a2a;
$darkgrey           : #3c3c3e;
$oilgrey            : #4a4a4a;
$lightgrey          : #999999;

$primary            : #85db27;
$secondary          : #64a10e;
$secondary          : lightseagreen;

$text-color         : #4a4a4a;
$server-error       : #996667;