@font-face {
	font-family: 'MuseoRounded';
	font-style: normal;
	font-weight: 300;
	src: url('~@/assets/fonts/museo/museosansrounded-300-webfont.eot');
	src: url('~@/assets/fonts/museo/museosansrounded-300-webfont.eot?#iefix') format('embedded-opentype'),
		 url('~@/assets/fonts/museo/museosansrounded-300-webfont.woff2') format('woff2'),
		 url('~@/assets/fonts/museo/museosansrounded-300-webfont.woff') format('woff'),
		 url('~@/assets/fonts/museo/museosansrounded-300-webfont.ttf') format('truetype'),
		 url('~@/assets/fonts/museo/museosansrounded-300-webfont.svg#museo_sans_rounded_300') format('svg');
}

@font-face {
	font-family: 'MuseoRounded';
	font-style: normal;
	font-weight: 500;
	src: url('~@/assets/fonts/museo/museosansrounded-500-webfont.eot');
	src: url('~@/assets/fonts/museo/museosansrounded-500-webfont.eot?#iefix') format('embedded-opentype'),
		 url('~@/assets/fonts/museo/museosansrounded-500-webfont.woff2') format('woff2'),
		 url('~@/assets/fonts/museo/museosansrounded-500-webfont.woff') format('woff'),
		 url('~@/assets/fonts/museo/museosansrounded-500-webfont.ttf') format('truetype'),
		 url('~@/assets/fonts/museo/museosansrounded-500-webfont.svg#museo_sans_rounded_500') format('svg');
}

@font-face {
	font-family: 'MuseoRounded';
	font-style: normal;
	font-weight: 700;
	src: url('~@/assets/fonts/museo/museosansrounded-700-webfont.eot');
	src: url('~@/assets/fonts/museo/museosansrounded-700-webfont.eot?#iefix') format('embedded-opentype'),
		 url('~@/assets/fonts/museo/museosansrounded-700-webfont.woff2') format('woff2'),
		 url('~@/assets/fonts/museo/museosansrounded-700-webfont.woff') format('woff'),
		 url('~@/assets/fonts/museo/museosansrounded-700-webfont.ttf') format('truetype'),
		 url('~@/assets/fonts/museo/museosansrounded-700-webfont.svg#museo_sans_rounded_700') format('svg');
}

@font-face {
	font-family: 'MuseoRounded';
	font-style: normal;
	font-weight: 900;
	src: url('~@/assets/fonts/museo/museosansrounded-900-webfont.eot');
	src: url('~@/assets/fonts/museo/museosansrounded-900-webfont.eot?#iefix') format('embedded-opentype'),
		 url('~@/assets/fonts/museo/museosansrounded-900-webfont.woff2') format('woff2'),
		 url('~@/assets/fonts/museo/museosansrounded-900-webfont.woff') format('woff'),
		 url('~@/assets/fonts/museo/museosansrounded-900-webfont.ttf') format('truetype'),
		 url('~@/assets/fonts/museo/museosansrounded-900-webfont.svg#museo_sans_rounded_900') format('svg');
}