.i-logo::before {
    content:"";
    display: inline-block;
    position: relative;
    top: 0px;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 48px 48px;
    background-color: transparent;
    background-image: $sose-icon-logo; 
}

.i-sose::before {
    content:"";
    display: inline-block;
    position: relative;
    top: 0px;
    width: 180px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-color: transparent;
    background-image: $home-logo-white; 
}

.i-tracks::before {
    content:"";
    display: inline-block;
    position: relative;
    top: 1px;
    width: 13px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9px 9px;
    background-color: transparent;
    background-image: $sose-icon-tracks;  
}

.i-bus::before {
    content:"";
    display: inline-block;
    position: relative;
    top: 0px;
    width: 68px;
    height: 68px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 68px 68px;
    background-color: transparent;
    background-image: $sose-icon-bus;   
}

.i-playlist::before {
    content:"";
    display: inline-block;
    position: relative;
    top: 0;
    width: 54px;
    height: 54px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-color: transparent;
    background-image: $sose-icon-playlist; 
}
.i-videos::before {
    content:"";
    display: inline-block;
    position: relative;
    top: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-color: transparent;
    background-image: $sose-icon-videos; 
}

.i-airplane::before {
    content:"";
    display: inline-block;
    position: relative;
    top: 0;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 56px 28px;
    background-color: transparent;
    background-image: $sose-icon-airplane; 
}

.i-instagram::before {
    content:"";
    display: inline-block;
    position: relative;
    top: 0;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 56px 28px;
    background-color: transparent;
    background-image: $sose-icon-instagram; 
}

.i-twitter::before {
    content:"";
    display: inline-block;
    position: relative;
    top: 0;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 56px 28px;
    background-color: transparent;
    background-image: $sose-icon-twitter; 
}

.title--arrow {
    display: inline-block;
    position: relative;
    top: 0px;
    width: 20px;
    height: 15px; 
    font-weight: 0;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8px 8px;
    background-color: transparent;
    background-image: $sose-icon-green-arrow;  
}
