/**
 * Breakpoints
 */
$breakpoint-small          : 460px;
$breakpoint-mobile         : 600px;
$breakpoint-tablet         : 900px;
$breakpoint-notebook       : 1200px;
$breakpoint-desktop        : 1480px;

/**
 * Fonts
 */
$font-family-serif          : Courier, "Courier New", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$font-family-sans-serif     : 'MuseoRounded', sans-serif; // 300,500,700,900