/**
 * Breakpoints
 */
$breakpoint-small          : 460px;
$breakpoint-mobile         : 600px;
$breakpoint-tablet         : 900px;
$breakpoint-notebook       : 1200px;
$breakpoint-desktop        : 1480px;

$viewport-4                : 480px;
$viewport-7                : 768px;
$viewport-9                : 992px;
$viewport-12               : 1200px;
$viewport-15               : 1520px;

/**
 * Fonts
 */
$font-family-serif          : Courier, "Courier New", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$font-family-sans-serif     : 'MuseoRounded', sans-serif; // 300,500,700,900